h1{
	font-family: 'MonarchaW01-Book'; regular; 
}

p{
	font-family: 'MonarchaW01-Book'; regular; 

}

.image_qualité{
	width: 70px;
	height: 80px;
}

.image_bulle{
	width: 68.5px;
	height:53.75px;
}

.images_langues{
	width: 68.5px;
	height: 53.75px
}

.image_contact{
	width: 68.5px;
	height: 53.75px;
}

.image_réseaux{
	width: 68.5px;
	height: 53.75px
}

.images_langues{
	width: 30px;
	height: 30px
}

.image_compétences{
	width: 64px;
	height: 72px
}

.composants_compétences{
	width: 152.6px;
	height: 25.8px;
}

.image_savoir_faire{
	width: 78px;
	height: 60px
}
.image_education{
	width: 70px;
	height: 57px;
}

.image_formation_en_cours{
	width: 80px;
	height: 58px;
}


.image_expériences{
	width: 59px;
	height: 46.7px;
}

.image_passions{
	width: 59px;
	height: 60px;
}

.éléments1{
	width: 43.25px;
	height: 47.5px;

}

.éléments2{
	width: 48px;
	height: 34.9px;
}

.éléments3{
	width: 37.6px;
	height: 44.8px;
}

.éléments4{
	width: 48.9px;
	height: 35.35px;
}

.éléments5{
	width: 43.2px;
	height: 33.6px;
}


body{
	display: flex;
}

.texte_langues{
	display: flex;
	flex-flow:column-nowrap;
	
}
.texte_réseau{
	display: flex;
	flex-flow:column-nowrap;
	}

.Qualimage{
	display: flex;
	justify-content: center;
	align-items:center;
	
}

#baseline{
	position: relative;
	top: -150px;
	justify-content: center;

}

.Photo_moi{
	width: 300px;
	height: 328px;
}


.nom {
	margin-bottom: -100px;
	width: 300px; 
	justify-content: center;
}



.Langueimage{
	display: flex;
	justify-content: center;
	align-items:center;
}

.Contactimage{
	display: flex;
	justify-content: center;
	align-items:center;
}

.Réseauximage{
	display: flex;
	justify-content: center;
	align-items:center;
}

.Compétencesimage{
	display: flex;
	justify-content: center;
	align-items:center;
}

.Savoirfaireimage{
	display: flex;
	justify-content: center;
	align-items:center;
}

.Educationimage{
	display: flex;
	justify-content: flex-start;
	align-items:center;
}

.Formationimage{
	display: flex;
	justify-content: flex-start;
	align-items:center;
}

.Expérienceimage{
	display: flex;
	justify-content: flex-start;
	align-items:center;
}

.Passionsimage{
	display: flex;
	justify-content: flex-start;
	align-items:center;
}



.comp_et_savoir-faire{
	display: flex;
	flex-wrap: nowrap;
}

.photoshop1{
	display: flex;
	flex-wrap: nowrap;
}

.illustrator1{
	display: flex;
	flex-wrap: nowrap;
}

.indesign1{
	display: flex;
	flex-wrap: nowrap;
}

.aftereffect1{
	display: flex;
	flex-wrap: nowrap;
}

.lightroom1{
	display: flex;
	flex-wrap: nowrap;
}

#liste_sf{
	 list-style-type: none;
}

.texte_qualité{
	display: flex;
	justify-content: center;
}

.texte_langues{
	display: flex;
	justify-content: center;
}

.texte_1{
	display: flex;
	justify-content: center;
}

.texte_réseau{
	display: flex;
	justify-content: center;
}

ol{
	 list-style-type: none;
}


h3{
	display: flex;
	justify-content: center;
}

.partie_de_gauche{
	background-color: #f0f0f0
}



