h1{
	font-family: 'MonarchaW01-Book'; regular; }

.image_bulle{
	width: 68.5px;
	height:53.75px;
}

.images_langues{
	width: 68.5px;
	height: 53.75px
}

.image_contact{
	width: 68.5px;
	height: 53.75px;
}

.image_réseaux{
	width: 68.5px;
	height: 53.75px
}

.images_langues{
	width: 30px;
	height: 30px
}

.image_compétences{
	width: 97px;
	height: 105px
}

.composants_compétences{
	width: 152.6px;
	height: 25.8px;
}

.image_savoir_faire{
	width: 92px;
	height: 74px
}
.image_education{
	width: 84px;
	height: 71px;
}

.image_formation_en_cours{
	width: 94px;
	height: 72px;
}


.image_expériences{
	width: 79px;
	height: 66.7px;
}

.image_passions{
	width: 79px;
	height: 80px;
}

.éléments1{
	width: 43.25px;
	height: 47.5px;

}

.éléments2{
	width: 48px;
	height: 34.9px;
}

.éléments3{
	width: 37.6px;
	height: 44.8px;
}

.éléments4{
	width: 48.9px;
	height: 35.35px;
}

.éléments5{
	width: 43.2px;
	height: 33.6px;
}


body{
	display: flex;
}

.texte_langues{
	display: flex;
	flex-flow:column-nowrap;
	
}
.texte_réseau{
	display: flex;
	flex-flow:column-nowrap;
	


.image_qualité
}



